.THIS .inputContainer{
    margin-bottom: 10px;
    padding: 12px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 2px;
    
}
.THIS .inputContainer .registration-input{
    background-color: #e0e0e0;
}

.THIS .registration-input label{
    font-weight: bold;
}


.THIS .registration-input .slds-form-element__control{
    width: 90%;
    
}

.THIS .registration-input .slds-input{
    margin-left: 10px;
    margin-top: 3px;
    border: 0 solid transparent;
    -webkit-appearance: none;
    min-height: initial;
    background-color: #e0e0e0;
}


.THIS .registration-input.slds-has-error .slds-input{
    box-shadow: none;
}

.THIS .registration-input .slds-input:focus, .THIS .registration-input .slds-input:active{
    outline: none;
    box-shadow: none;
}

.THIS .registration-input .slds-checkbox--faux{
    border-color: #ccc;
}

.THIS .registration-btn{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: rgb(31, 151, 255);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: Arial;
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.THIS .registration-btn:hover{
    background-color: #007eeb;
}

.THIS .modal-close-btn{
    border: none;
    padding: 0;
    box-shadow:none;
}
.THIS .modal-close-btn .slds-button__icon{
    width: 1.5rem;
    height: 1.5rem;
}

.THIS .registration-successful{
    font-size: 1.2rem;
}
.THIS .check-email{
    font-size: 0.9rem;
}

.THIS{
    background-color:#b7b7b7;
}

.THIS.newbg{
    background-color:#ffffff;
}